<style>
  .user-info {
    font-size = 18px;
    margin-right: 20px;
    color: white;
  }
</style>

<nav class="navbar navbar-dark bg-dark navbar-expand-lg ">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">Verma Hardware Store</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'create_item' %}" class="nav-link">Create Item</a>
          </li>
        </ul>
      </div>
    </div>
    <span class="user-info">{{ request.user }}</span>
    <span class="user-info"><a href="{% url 'logout' %}">Logout</a></span>
  </nav>